[run]
omit =
    # Don't do coverage on test code
    tests/*
    conftest.py

    # Don't cover code in the env (Termux only?)
    env*/*

[report]
exclude_lines =
    pragma: no cover
    ^\s*pass\s*$
