install:
 - pip install -r requirements-travis.txt
 - pip install -e .
language: python
python:
 - 3.3
 - 3.4
 - 3.5
 - 3.6
script:
 - coverage run tests.py -a
 - flake8 stdio_mgr
 - echo $TRAVIS_PYTHON_VERSION | grep -e '^3\.5' && codecov || echo "No codecov."

