dist: xenial
install:
 - pip install -U --force-reinstall -r requirements-travis.txt
 - python setup.py develop
language: python
python:
 - 3.4
 - 3.5
 - 3.6
 - 3.7
 - 3.8-dev
script:
 - python --version
 - pip list
 - minor_version=$( echo $TRAVIS_PYTHON_VERSION | sed -E 's/^[^3]*3[.]([0-9]+).*$/\1/' )
 - pytest --cov=src
 - if [ $minor_version -eq 6 ]; then codecov; else echo "No codecov."; fi
 - if [ $minor_version -eq 6 ]; then pip install black; black --check .; else echo "No black."; fi
