[build-system]
requires = ["wheel", "setuptools"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88
include = '''
(
    ^/tests/.*[.]py$
  | ^/src/.*[.]py$
  | ^/setup[.]py
  | ^/conftest[.]py
  | ^/doc/source/conf[.]py
)
'''
exclude = '''
(
    __pycache__
  | ^/env/.*
)
'''
