name: 'PUB: Test PyPI'

on:
  workflow_dispatch:
    inputs:
      ref:
        description: Git ref to build and publish
        type: string
        required: true
      depth:
        description: 'Checkout depth into the repo history'
        required: false
        type: number
        default: 300

jobs:
  build:
    name: build sdist & wheel
    runs-on: 'ubuntu-latest'
    environment: test_pypi
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
    - name: Check out repo
      uses: actions/checkout@v6
      with:
        ref: ${{ inputs.ref }}
        fetch-tags: true
        fetch-depth: ${{ inputs.depth }}

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'
        cache: 'pip'
        cache-dependency-path: |
          requirements-dev.txt
          requirements-flake8.txt

    - name: Build & check sdist & wheel
      run: |
        pip install tox twine
        tox -e build
        ls -lah dist
        twine check $( find dist -name '*.gz' )
        twine check $( find dist -name '*.whl' )

    - name: Upload artifacts
      uses: actions/upload-artifact@v5
      with:
        name: 'build-artifacts'
        path: dist/
        retention-days: 1

  publish:
    name: publish sdist & wheel
    runs-on: 'ubuntu-latest'
    environment:
      name: test_pypi
      url: https://test.pypi.org/p/stdio-mgr
    permissions:
      id-token: write
    needs: build
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Install twine
      run: pip install twine

    - name: Download build artifacts
      uses: actions/download-artifact@v6
      with:
        name: 'build-artifacts'
        path: '.'

    - name: Recheck build artifacts
      run: |
        ls -lah dist
        twine check $( find dist -name '*.gz' )
        twine check $( find dist -name '*.whl' )

    - name: Publish package distributions to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
