name: 'RELEASE: Ensure all tests ran'

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - stable

jobs:
  testdir_coverage:
    name: via coverage check
    runs-on: 'ubuntu-latest'
    if: ${{ !github.event.pull_request.draft && !contains(toJson(github.event), '[skip ci]')}}

    steps:
    - name: Check out repo
      uses: actions/checkout@v6

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'
        cache: 'pip'
        cache-dependency-path: |
          requirements-ci.txt

    - name: Install CI requirements
      run: pip install -r requirements-ci.txt

    - name: Run pytest with coverage
      run: pytest --cov

    - name: Check 100% test execution
      run: coverage report --include="tests/*" --fail-under=100
